

<div class="login">
    <mat-card  class="login-card">
        <h3 class="title">Reset Password</h3>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form">
            <mat-label>Email</mat-label>
            <mat-form-field> 
              <input matInput formControlName="email">
              <mat-error *ngIf="forgotForm.get('email')?.dirty && forgotForm.get('email')?.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="forgotForm.get('email')?.dirty && forgotForm.get('email')?.hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
            <button color="accent" mat-raised-button [disabled]="!forgotForm.valid" type="submit" >Reset Password</button>

        </form>
    </mat-card>
</div>