// section {
//     display: flex;
//     min-height: calc(100vh - 90px);
//     flex-wrap: wrap;
//     width: 100%;
//     align-items: center;
//     justify-content: center;
// }

// aside {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     border: 2px solid #dedede;
//     border-radius: 10px;
//     margin: 10px;
//     border-radius: 10px;
//     width: 300px;
//     background: rgba(255, 255, 255, 0.25);
//     border-radius: 16px;
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(20px);
//     -webkit-backdrop-filter: blur(20px);
//     border: 1px solid rgba(255, 255, 255, 1);
//     .change{
//         background-color: #ffffff;
//         width: 100%;
//         color: gray;
//         display: flex;
//         justify-content: space-between;
//         *{
//             width: 50%;
//             background-color: #ffffff;
//             color: #161414;
//             padding: 10px;
//             cursor: pointer;
//             border: 1px solid black;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }
//         .left{
//             border-top-left-radius: 10px;
//         }
//         .right{
//             border-top-right-radius: 10px;
//         }
//         .active{
//             background-color:#000000;
//             color:  #d9ddff;
//         }
//     }
//     a {
//         background-color: black;
//         color: aliceblue;
//         padding: 6px;
//         border-radius: 5px;
//         border: 0px;
//         margin: 5px;
//         font-size: 16px;
//     }

//     .form {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 270px;
//         p{
//             color: #04072c;
//             padding: 10px;
//             font-size: 16px;
//             cursor: pointer;
//         }

//         .input{
//             width: 90%;
//             margin: 12px 0px;
//             display: flex;
//             flex-direction: column;  
//             .errors{
//                 color: red;
//                 margin:4px 0px;
//             } 
//         }
//         .form-input:focus{
//             outline: 1px solid #b2b2b2;
//         }
//         .form-input {
            
//             background-color: white;
//             height: 36px;
//             -webkit-appearance: none;
//             -moz-appearance: none;
//             appearance: none;
//             caret-color: #212338;
//             border-radius: 5px;
//             border: 1px solid #e2e2e9;
//             -webkit-transition: border-color .2s ease;
//             transition: border-color .2s ease;

//         }

//         input:focus,
//         textarea:focus {
//             outline: none;
//         }

//         button {
//             padding: 10px;
//             height: 40px;
//             background-color: #000000;
//             color: white;
//             margin: 8px 0;
//             border: none;
//             border-radius: 4px;
//             cursor: pointer;
//             float: right;
//         }
//         button:disabled{
//             background-color: rgba(0, 0, 0, 0.12);
//             border-color: transparent;
//             box-shadow: none;
//             color: rgba(0, 0, 0, 0.26);
//         }
//         .gbtn{
//             color: #ffffff;
//             display: flex;
//             align-items: center;
//             img{
//                 margin: 5px;
//             }
//         }
//     }


// }
.login{
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     .login-card{
        width: 552px;
        color: rgb(2, 18, 32);
        margin: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        .title{
            color: rgb(3, 22, 39);
            display: flex;
            justify-content: center;
            span{
                color: rgb(223, 107, 6);
                font-size: 50px;
             }
         }
         form{
            display: flex;
            flex-direction: column;
           mat-label{
            margin: 10px 0px;
           }
           button{
            color: aliceblue;
            
           }
         }
        }
    }
    .mat-mdc-raised-button[disabled][disabled]{
        background-color:  #ECECEC;
        color: #5B5B5B!important;
        margin: 8px;
    }