
.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f6f6f6;
    .login-card {
        width: 552px;
        margin: 10px;
        padding: 25px;
        display: flex;
        align-items: center;

        .title {
            color: aliceblue;

            span {
                color: rgb(223, 107, 6);
                font-size: 50px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            min-width: 80%;
            mat-label {
                margin: 10px 0px;
            }

            button {
                color: aliceblue;

            }
        }

        .other {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                margin: 10px 0px;
                cursor: pointer;
            }

            .link {
                cursor: pointer;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                * {
                    margin: 10px;
                }
            }

            span {
                color: blueviolet;
            }

            button {
                display: flex;
                background: -webkit-linear-gradient(45deg,#0288d1,#26c6da)!important;
                background: linear-gradient(45deg,#0288d1,#26c6da)!important;
                color: #ffffff;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        margin: 5px;
                    }
                }

            }

        }
    }

}

.mat-mdc-raised-button[disabled][disabled]{
    background-color:  #ECECEC;
    color: #5B5B5B!important;
    margin: 8px;
}
.google-btn {
   background-color: #f6f5f5!important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #033f47;
    padding: 4px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    img{
     margin: 5px;
    }
}