<div class="main-container">
    <div class="chips">
        <h4 class="title">Tags</h4>
        <mat-chip-listbox >
            <mat-chip-option selected>All</mat-chip-option>
            <mat-chip-option>Html</mat-chip-option>
            <mat-chip-option>Css</mat-chip-option>
            <mat-chip-option>Javascript</mat-chip-option>
            <mat-chip-option>Angular</mat-chip-option>
            <mat-chip-option>Node.js</mat-chip-option>
            <mat-chip-option>Sql</mat-chip-option>
            <mat-chip-option>MongoDB</mat-chip-option>   
            <mat-chip-option>DSA</mat-chip-option>       
          </mat-chip-listbox>
    </div>
    <div class="container">
        <div class="cards grid-row">
          <mat-card class="card">

            <div class="card-info">
              <h2>JavaScript Quote Generator</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="card-bottom flex-row">
              <a href="#" class="button btn-yellow">Node.js</a>
              <a href="#" class="button btn-yellow">Angular</a>
              <a href="#" class="button btn-yellow">Firebase</a>
          </div>
          </mat-card>
          <mat-card class="card">
  
            <div class="card-info">
              <h2>How to Build HTML Minifier</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="card-bottom flex-row">
                <a href="#" class="button btn-yellow">Angular</a>
                <a href="#" class="button btn-yellow">Firebase</a>
            </div>
        </mat-card>
          <mat-card class="card">
 
            <div class="card-info">
              <h2>How to Build Signature Pad</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="card-bottom flex-row">
                <a href="#" class="button btn-yellow">MongoDB</a>
            </div>
        </mat-card>
          <mat-card class="card">
  
            <div class="card-info">
              <h2>How to Build Gsap Gallery</h2>
              <span class="date">Monday, Jan 20, 2021</span>
              <p class="excerpt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="card-bottom flex-row">
                <a href="#" class="button btn-yellow">Angular</a>
       
            </div>
        </mat-card>
        </div>    
      </div>
    <div class="pagination">
        <button color="primary" mat-raised-button>Previous</button>
        <button color="accent" mat-raised-button>Next</button>
    </div>
</div>

